<p-card>
  <ng-template #title>
    <div class="flex justify-between w-full">
      <p-skeleton width="200px" height="2rem"></p-skeleton>
    </div>
  </ng-template>
  <div class="overflow-x-scroll">
    <div class="h-full flex-1 gap-3 flex flex-col mt-2">
      <div class="flex justify-between gap-4">
        @for (i of [0, 1, 2, 3, 4]; track i) {
          <div class="flex-1">
            <p-skeleton width="100%" height="300px"></p-skeleton>
          </div>
        }
      </div>
    </div>
  </div>
</p-card>
