<div class="flex flex-col gap-2">
  @for (day of daysOfWeek(); track day.key) {
    <div class="flex justify-between">
      <p class="text-lg">{{ day.label }}</p>
      <div class="flex items-center gap-2">
        <p-button icon="pi pi-minus" [text]="true" [rounded]="true" (click)="remove(day.key)" />
        <p>{{ day.capacity?.max ?? 0 }}</p>
        <p-button icon="pi pi-plus" [text]="true" [rounded]="true" (click)="add(day.key)" />
      </div>
    </div>
    <p-divider class="!my-0" />
  }
</div>
