<div class="flex flex-col w-full">
  <div class="flex w-full justify-end">
    <div class="w-[150px]">
      <ngx-skeleton-loader count="1" appearance="line" />
    </div>
  </div>
  <div class="flex flex-col w-full">
    <div class="w-[200px]">
      <ngx-skeleton-loader count="1" appearance="line" />
    </div>
    <div class="flex gap-2">
      @for (item of [1, 2, 3, 4, 5]; track $index) {
        <div class="w-[250px]">
          <ngx-skeleton-loader count="1" appearance="line" />
        </div>
      }
    </div>
    <div class="w-full mt-5">
      <ngx-skeleton-loader count="6" appearance="line" />
    </div>
  </div>
</div>
