@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "primeicons/primeicons.css";

:root {
  --p-primary-50: rgb(250, 247, 244);
  --p-primary-100: rgb(245, 239, 233);
  --p-primary-200: rgb(240, 231, 222);
  --p-primary-300: rgb(235, 223, 211);
  --p-primary-400: rgb(229, 215, 198);
  --p-primary-500: rgb(224, 207, 185);
  --p-primary-600: rgb(201, 186, 167);
  --p-primary-700: rgb(179, 166, 148);
  --p-primary-800: rgb(156, 145, 130);
  --p-primary-900: rgb(134, 124, 111);
  --p-primary-950: rgb(111, 104, 93);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Bricolage Grotesque, 'Helvetica Neue', sans-serif;
}

.schedule-container {
  animation: fadeInUp 0.3s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.schedule-container app-schedule:nth-child(2) {
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
