@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Bricolage Grotesque, 'Helvetica Neue', sans-serif;
}
