@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Bricolage Grotesque, 'Helvetica Neue', sans-serif;
}

/*Fix TailwindCSS and Angular Material conflict*/
.mdc-notched-outline__notch {
  border-right: none;
}

.schedule-container {
  animation: fadeInUp 0.3s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.schedule-container app-schedule:nth-child(2) {
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
