@if (location()) {
  <p-card>
    <ng-template #title>
      <div class="flex justify-between w-full">
        <h3 class="text-3xl font-medium">{{ location().name }}</h3>
        <div class="flex gap-2">
          <app-capacity [location]="location()" />
          <p-button icon="pi pi-copy" [rounded]="true" [text]="true" />
        </div>
      </div>
    </ng-template>
    <div class="overflow-x-scroll">
      <div class="h-full flex-1 gap-3 flex flex-col mt-2">
        <div class="flex justify-between gap-4">
          @for (day of daysOfWeek(); track day.key) {
            <app-day [day]="day" [locationId]="location().id"></app-day>
          }
        </div>
      </div>
    </div>
  </p-card>
}
